@import '../../variables';
@import '../../fonts';

.button {
  border: none;
  color: $text-color;
  font-family: $font-family-heavitas;
  font-size: 1.6rem;
  cursor: pointer;
  width: 24.7rem;
  height: 4.5rem;
  background: #fc142a;
  box-shadow:
    inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6);
  border-radius: 50px;
}
