@import '../../fonts';
@import '../../variables';

.swiper-cont {
  height: 37rem;
  padding-top: 5rem;
}

.mySwiper {
  width: 92rem;
  @media screen and (max-width: 1100px) {
    margin-top: 1rem;
    width: 34rem;
  }

  .swiper-slide {
    width: 40rem;
  }

  .swiper-pagination {
    @media screen and (max-width: 768px) {
      bottom: -14px !important;
    }
  }
}
