@import '../../variables';
@import '../../fonts';

.section2 {
  background-image: url('../img/bci2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  padding: 3rem 0;

  &__how-works {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;

    .how-works-img {
      background-image: url('../img/funciona.png');
      height: 22.8rem;
      width: 96rem;
      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (max-width: 1100px) {
        width: 60.3rem;
        height: 15rem;
      }

      @media screen and (max-width: 768px) {
        width: 45rem;
        height: 10rem;
      }
    }
  }

  &__tabs {
    display: flex;
    width: 1040px;

    gap: 2rem;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    @media screen and (max-width: 768px) {
      max-width: 35rem;
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    .tab {
      &__tab-text {
        font-family: $font-family-heavitas;
        font-size: 1.6rem;
        color: $text-color;
        font-weight: 400;
        margin: 0;
      }
      &__tab-underline {
        height: 0.7rem;
        width: 100%;
        border-radius: 1.6rem;
        background-color: #ffe345;
      }
    }
  }
  &__requirements {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .board {
      background-image: url('../img/tablero.png');

      background-size: contain;
      background-repeat: no-repeat;
      height: 75rem;
      width: 126rem;
      @media screen and (max-width: 1100px) {
        background-image: url('../img/tablero-mobile.png');
        width: 35rem;
        height: 69rem;
      }

      &__board-title {
        font-family: $font-family-heavitas;
        font-size: 3.2rem;
        color: $color-red;
        font-weight: 400;
        line-height: 2.8rem;
        width: 58.9rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 9rem;
        @media screen and (max-width: 1100px) {
          display: none;
        }
      }

      &__button {
        display: flex;
        justify-content: center;
      }
    }
  }
}
