@import '../../fonts';
@import '../../variables';

.step {
  display: flex;
  width: 33.5rem;
  justify-content: center;
  margin-left: 10rem;
  @media screen and (max-width: 1100px) {
    margin-left: 0px;
  }

  &__img {
    width: 9rem;
    height: 8.8rem;
    padding-top: 3rem;
    padding-right: 2.2rem;
    @media screen and (max-width: 1100px) {
      width: 7rem;
      height: 6.8rem;
      padding-top: 1.5rem;
      padding-right: 0px;
    }
  }

  &__copy {
    width: 21.6rem;

    .title {
      font-family: $font-family-heavitas;
      font-size: 2.4rem;
      color: #0f5ee8;
      font-weight: 400;
      line-height: 2.8rem;

      @media screen and (max-width: 1100px) {
        font-size: 1.6rem;
      }
    }

    .desc {
      font-family: $font-family-montserrat;
      font-size: 1.6rem;
      color: #000;
      font-weight: 400;
      width: auto;
    }
  }
}
