@import '../../variables';
@import '../../fonts';

.card {
  height: 160px;
  width: 442px;
  @media screen and (max-width: 768px) {
    max-width: 410px;
    margin-left: 20px;
    width: 100%;
    height: 98px;
  }
  background-color: rgb(255, 255, 255, 85%);
  border-radius: 20px;

  /* List */

  border: 1px solid #1ea9ff;
  box-shadow: 0px 19.2471px 19.2471px rgba(30, 144, 255, 0.15);

  &__flex {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 20px;
    height: 100%;

    .card-img {
      width: 113px;
      height: 136px;
      @media screen and (max-width: 768px) {
        width: 59px;
        height: 71px;
      }
    }
  }
  .card-copy {
    width: 75%;

    @media screen and (max-width: 768px) {
      width: 65%;
    }

    &__title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
      color: #0f5ee8;
      font-family: $font-family-heavitas;
      line-height: 28px;
      @media screen and (max-width: 768px) {
        line-height: 15px;
        font-size: 12px;
      }
    }
    &__desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #000;
      font-family: $font-family-montserrat;
      @media screen and (max-width: 768px) {
        line-height: 14px;
        font-size: 10px;
      }
    }
  }
}
