@import '../../variables';
@import '../../fonts';

.card {
  height: 16rem;
  width: 44.2rem;
  background-color: rgb(255, 255, 255, 85%);
  border-radius: 2rem;

  /* List */

  border: 1px solid #1ea9ff;
  box-shadow: 0px 19.2471px 19.2471px rgba(30, 144, 255, 0.15);

  @media screen and (max-width: 768px) {
    max-width: 41rem;
    width: 100%;
    height: 9.8rem;
  }

  &__flex {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 2rem;
    height: 100%;

    .card-img {
      width: 11.3rem;
      height: 13.6rem;
      @media screen and (max-width: 768px) {
        width: 5.9rem;
        height: 7.1rem;
      }
    }
  }
  .card-copy {
    width: 75%;

    @media screen and (max-width: 768px) {
      width: 65%;
    }

    &__title {
      text-transform: uppercase;
      font-size: 2.4rem;
      font-weight: 400;
      color: #0f5ee8;
      font-family: $font-family-heavitas;
      line-height: 2.8rem;
      @media screen and (max-width: 768px) {
        line-height: 1.5rem;
        font-size: 1.2rem;
      }
    }
    &__desc {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.2rem;
      color: #000;
      font-family: $font-family-montserrat;
      @media screen and (max-width: 768px) {
        line-height: 1.4rem;
        font-size: 1rem;
      }
    }
  }
}
