@import 'variables';

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'heavitas';
  src: url('../fonts/Heavitas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100%;
}

body {
  margin: 0;
}
